body {
	background-color: #FFF;
  	width: 100%;
  	max-width: 900px;
  	margin: auto;
}

/* Header Sections */

header {
	width: 100%;
	height:50px;
	background-color: #FFF;
	position: fixed;
	display: block;
}

header #title {
	float: left;
	width: 20%;
	background-color: #FFF;
}

nav {
	float: right;
	width: 75%;
	background-color: #FFF;
}

.nav_item {
	margin: auto 10px;
	display: inline-block;
	background-color: #FFF;
}

/* Copy */
h1 {
	font-family: "Arial", sans-serif;
	font-size: 1.2em;
	line-height: 1.1em;
	color: #303030;
	font-weight: none;
	text-decoration: none;
}

h2 {
	font-family: "Arial", sans-serif;
	font-size: 1.0em;
	line-height: 1.1em;
	color: #303030;
	font-weight: none;
	text-decoration: none;
}

h3 {
	font-family: "Arial", sans-serif;
	font-size: 0.9em;
	line-height: 1.0em;
	color: #303030;
	font-weight: none;
	text-decoration: none;
}

p {
	font-family: "Arial", sans-serif;
	font-size: 0.8em;
	line-height: 1.0em;
	color: #303030;
	font-weight: normal;
	text-decoration: none;
}

li {
	font-family: "Arial", sans-serif;
	font-size: 0.8em;
	line-height: 1.2em;
	color: #303030;
	font-weight: normal;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #303030;
}

a:hover {
	text-decoration: none;
	color: #FFF;
}

/* Body Sections */

section {
	width: 100%;
	display: inline-block;
}

.section_title {
	width: 20%;
	float: left;
	padding: 5px;
}

article {
	width: 70%;
	float: right;
	display: inline-block;
	padding: 5px;
}

#scope {
	padding-top: 50px;
}

#data {
	padding-top: 50px;
}

#operators {
	padding-top: 50px;
}

#expressions {
	padding-top: 50px;
}

#def {
	padding-top: 50px;
}

.article_title {}

.article_body {}

th, td {
	border: 0px solid #FFF;
	text-align: left;
	padding: 5px;
}
